body{
    font-family: 'Quicksand', sans-serif;
    background-color: #A0AEC1;
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.logoHeader{
    width: 20%;
}
.menu{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    position: absolute;
}
.desktopMenu{
    color: #FA6121;
    display: flex;
    justify-content: space-between;
}
.desktopMenu li{
    margin: auto;
    font-size: 1.3rem;
}
.menu a{
    color: #FA6121;
    text-decoration: none;
    background: linear-gradient(to top, rgba(250, 97, 33, 0.7) 0%,
        rgba(250, 97, 33, 0.5) 10%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
}
.menu a:hover{
    color:#FFB739;
    background-size: 100% 100%;
}

.imgBack{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../img/avis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.textHome{
    z-index: 10;
    position: relative;
    top: 60vh;
    left: 10vw;
    color: white ;
    width: fit-content;
}
.textHome h1{
    font-size: 150%;
}

.textHome p{
    font-style: italic;
    text-align: end;
}

.svgHome{
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 999;
    margin-bottom: -2px;
}
/*Animation scroll*/
.scrollBtn {
    z-index: 9999;
    position: absolute;
    color: black;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 5%;
    max-height: 100%;
}
.mouse {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
}
.scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes scroll {

    0%, 20% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }
}
/*Section Competence*/

.competenceTitle{
    width: 100vw;
    height: fit-content;
    min-height: fit-content;
    background-color: #fff;
}

.competenceTitle h2{
    color: #FA6121;
    font-size: 2.5rem;
    display: block;
    margin: auto;
    width: fit-content;
    vertical-align: center;
}
.competenceProgress{
    width: 100%;
}
.competenceSpe{
    width: 100%;
    padding-top: 4% ;
}
.competenceItem{
    margin-bottom: 2%;
    float: left;
    width: 50%;
}
.competenceItemTitle{
    font-size: 1.3rem;
    color: #FFB739;
}
.competenceItemContent{
    width: 100%;
}
/*progress bar*/
.myProgress {
    width: 100%;
    background-color: #466289;
    margin-bottom: 5%;
    border-radius: 15px;
    border: 1px solid #466289;
}

.myBar {
    height: 30px;
    background-color: #FA6121;
    border-radius: 15px 0 0 15px;
}

.myBar p {
    color: #466289;
    width: fit-content;
    line-height: 2;
    margin: 0 20px;
    font-weight: bold;
}
.myProgress:last-child{
    margin-bottom: 0;
}
/* mes progression*/
#html{width: 95%;}
#sass{width: 70%;}
#bootstrap{width: 50%;}
#js{width: 60%;}
#jquery{width: ;50%}
#php{width: 75%;}
#sql{width: 75%;}
#symfony{width: 60%;}
#wordpress{width: 30%;}
#prestashop{width: 25%;}

.competenceCategorie{
    margin: 3% auto;
    width: fit-content;
    color: #DBE8F9;
    font-size: 1.2rem;
    background: linear-gradient(to top, rgba(250, 97, 33, 0.7) 0%,
    rgba(250, 97, 33, 0.5) 10%, transparent 10.01%) no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s;
}

.competenceCategorie:hover{
    background-size: 0% 100%;
}

.competenceItemTitle{
    padding: 1%;
}

.competenceItemContent{
    padding: 1% 0.5%;
}