#html{width: 95%;}
#sass{width: 70%;}
#bootstrap{width: 50%;}
#js{width: 60%;}
#jquery{width:50%;}
#php{width: 75%;}
#sql{width: 75%;}
#symfony{width: 60%;}
#wordpress{width: 30%;}
#prestashop{width: 25%;}