.realisationTitle{
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  background-color: #A0AEC1;
}

.realisationTitle h2{
  color: #466289;
  font-size: 2.5rem;
  display: block;
  margin: auto;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content;
  vertical-align: center;
}

//site perso
.realisationContent{
  display: flex;
  flex-wrap: wrap;
}

.realisationContent div img{
  width: 100%;
}

.w50:hover{
  opacity: 0.5;
  cursor: pointer;
}

.w100{
  width: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.w50{
  width: 50%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.show{
  display: block;
}

.hide{
  display: none;
}
.txt{
  color: #A0AEC1;
  font-size: 1.2rem;
}
.technos{
  font-style: italic;
  color: #466289;
  margin: 2% 0;
}
.btnLink{
  text-decoration: none;
  color: #A0AEC1;
  font-style: italic;
  text-align: end;
  margin-bottom: 2%;
}

.btnLink:hover{
  color: $orange;
}



