body {
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.logoHeader {
  width: 100%;
}

.menu {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  position: absolute;
}

.desktopMenu {
  color: #FA6121;
  display: flex;
  justify-content: space-between;
}

.liA {
  width: calc(100%/5);
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
}

.lImg {
  width: calc(100%/5);
  margin: auto;
}

.menu a {
  color: #FA6121;
  text-decoration: none;
  background: linear-gradient(to top, rgba(250, 97, 33, 0.7) 0%, rgba(250, 97, 33, 0.5) 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}

.menu a:hover {
  color: #FFB739;
  background-size: 100% 100%;
}

.imgBack {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../img/avis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
}

.textHome {
  z-index: 10;
  position: relative;
  top: 60vh;
  left: 10vw;
  color: white;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
}

.textHome h1 {
  font-size: 1.7rem;
}

.textHome p {
  font-style: italic;
  text-align: end;
}

.svgHome {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 999;
  margin-bottom: -2px;
}

.competence {
  background-color: #A0AEC1;
}

.competenceTitle {
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  background-color: #fff;
}

.competenceTitle h2 {
  color: #FA6121;
  font-size: 2.5rem;
  display: block;
  margin: auto;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  vertical-align: center;
}

.competenceProgress {
  width: 100%;
  border-bottom: 1px solid #FA6121;
  padding-bottom: 5%;
}

.competenceProgress {
  margin-bottom: 5%;
}

/*progress bar*/
.myProgress {
  width: 100%;
  background-color: #466289;
  margin-bottom: 5%;
  border-radius: 15px;
  border: 1px solid #466289;
}

.myBar {
  height: 30px;
  background-color: #DBE8F9;
  border-radius: 15px 0 0 15px;
  display: flex;
}

.myBar p {
  color: #466289;
  width: fit-content;
  line-height: 2;
  margin: 0 20px;
  font-weight: bold;
}

.myProgress:last-child {
  margin-bottom: 0;
}

.downArrow {
  width: 10%;
  margin: auto 0 auto 2%;
}

.downArrow2 {
  width: 35%;
  margin: auto 0 auto 15%;
}

.competenceCategorie {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  color: #466289;
  font-size: 1.2rem;
  text-wrap: normal;
}

.competenceCategorieTitle {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  display: flex;
  margin: 3% auto;
  background: linear-gradient(to top, rgba(250, 97, 33, 0.7) 0%, rgba(250, 97, 33, 0.5) 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}

.competenceCategorieTitle:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

.competenceBottom {
  display: flex;
}

.competenceBottomGauche {
  width: 50%;
  border-right: 1px solid #FA6121;
}

.competenceItem {
  margin-bottom: 2%;
}

.competenceItemTitle {
  font-size: 2rem;
  color: #466289;
  margin-bottom: 1%;
}

.competenceItemContent {
  width: 100%;
  color: #DBE8F9;
  font-size: 1.2rem;
}

.competenceBottomDroite {
  width: 50%;
  border-left: 1px solid #FA6121;
}

.outilTitle {
  font-size: 2rem;
  color: #466289;
  margin: 1% 10%;
}

.outilItem {
  width: 100%;
  color: #DBE8F9;
  list-style: circle;
  margin: 2% 20%;
  font-size: 1.2rem;
}

.svgBottom {
  margin-bottom: -2px;
}

.competenceGlobal {
  margin-bottom: 3%;
}

.cv {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  padding: 2% 5%;
  background-color: #FA6121;
  border: 1px solid #FA6121;
  display: block;
  margin: 5% auto;
  text-decoration: none;
  color: #fff;
}

.cv:hover {
  border: 1px solid #627894;
  background-color: transparent;
  transition: background-color 0.2s, border 0.2s;
  color: #627894;
}

.parcoursTitle {
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  background-color: #466289;
}

.parcoursTitle h2 {
  color: #DBE8F9;
  font-size: 2.5rem;
  display: block;
  margin: auto;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  vertical-align: center;
}

.periode {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.periode li {
  color: #FA6121;
  font-size: 1.2rem;
}

.piscine {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  display: block;
  margin: auto;
}

.parcoursItemTitle {
  font-size: 2rem;
  color: #FA6121;
  margin-bottom: 1%;
}

.dateParcours {
  font-style: italic;
  text-align: end;
  color: #A0AEC1;
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.parcoursItem {
  font-size: 1.2rem;
  margin: 1% auto;
  color: #466289;
}

.parcoursContent {
  margin-bottom: 3%;
}

#html {
  width: 95%;
}

#sass {
  width: 70%;
}

#bootstrap {
  width: 50%;
}

#js {
  width: 60%;
}

#jquery {
  width: 50%;
}

#php {
  width: 75%;
}

#sql {
  width: 75%;
}

#symfony {
  width: 60%;
}

#wordpress {
  width: 30%;
}

#prestashop {
  width: 25%;
}

.scrollBtn {
  z-index: 9999;
  position: absolute;
  color: black;
  bottom: 0;
  right: 0;
  width: 5%;
  height: 5%;
  max-height: 100%;
}

.mouse {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}
.realisationTitle {
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  background-color: #A0AEC1;
}

.realisationTitle h2 {
  color: #466289;
  font-size: 2.5rem;
  display: block;
  margin: auto;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  vertical-align: center;
}

.realisationContent {
  display: flex;
}

.realisationContent div:hover {
  opacity: 0.5;
}

.realisationContent div {
  width: 50%;
}

.realisationContent div img {
  width: 100%;
}

.contactTitle {
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  background-color: #466289;
}

.contactTitle h2 {
  color: #fff;
  font-size: 2.5rem;
  display: block;
  margin: auto;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  vertical-align: center;
}

/*# sourceMappingURL=style.css.map */
